* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --color-saturated: #4b4453;
  --color-main: #245c73;
  --color-sub: #a0ced9;
  --color-dimmed: #ccc;
  --super-light: #fef6ff;
  --color-main-dark: rgba(21, 16, 25, 1);
  --blue-shade-1: #122640;
  --blue-shade-2: rgba(7, 5, 9, 1);
  --light-teal: #d0f2ec;
  --main-transition: 300ms;
  --section-padding: 100px;
  --bg-dark: #060408;
}
input,
textarea,
button,
select,
a,
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
::selection {
  color: var(--color-main);
  background: var(--color-sub);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-saturated);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-main);
}
/* GLOBAL */

.landing {
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center;
  background-color: var(--color-main-dark);
  z-index: -1;
  user-select: none;
}
nav {
  background-color: var(--color-main-dark);
  position: fixed;
  z-index: 2;
  width: 100%;
  padding-left: 20px;
}
.text {
  padding: 20px 0;
}
.text a {
  font-size: 2rem;
  color: var(--super-light);
  font-weight: 400;
}
.text a i {
  margin-right: 15px;
}
@media (max-width: 767px) {
  .text a {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  align-items: center;
  gap: 20px;
  margin: 0 20px;
  padding: var(--section-padding) 0;
}
.cards .card {
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 16 / 9;
  padding: 30px;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}
.cards .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 16, 25, 0.6);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
}
.cards .card:hover {
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
}
.cards .card:hover::before {
  opacity: 1;
}
.cards .linksHolder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
  gap: 20px;
}
.cards .linksHolder a {
  color: var(--super-light);
  padding: 25px;
  background-color: rgba(21, 16, 25, 1);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  z-index: 555;
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  position: relative;
}
.cards .linksHolder a::after {
  content: "Go To Site";
  position: absolute;
  top: -50px;
  right: 50%;
  transform: translatex(50%);
  -webkit-transform: translatex(50%);
  -moz-transform: translatex(50%);
  -ms-transform: translatex(50%);
  -o-transform: translatex(50%);
  width: max-content;
  background-color: rgba(21, 16, 25, 1);
  padding: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  opacity: 0;
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
}
.cards .linksHolder a.github::after {
  content: "View On Github";
  position: absolute;
  top: -52px;
  right: 50%;
  transform: translatex(50%);
  -webkit-transform: translatex(50%);
  -moz-transform: translatex(50%);
  -ms-transform: translatex(50%);
  -o-transform: translatex(50%);
  width: max-content;
  background-color: rgba(21, 16, 25, 1);
  padding: 11px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  opacity: 0;
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
}
.cards .linksHolder a:hover::after {
  opacity: 0.8;
  transition-delay: 0.5s;
}
.cards .card:hover .linksHolder {
  opacity: 1;
}
/* .cards .card .linksHolder a:hover {
  padding: 33px;
} */
.cards .card.one {
  background-image: url(../media/project-3.jpg);
}
.cards .card.two {
  background-image: url(../media/project-2.jpg);
}
.cards .card.dash {
  background-image: url(../media/project-dashboard.jpg);
}
.cards .card.three {
  background-image: url(../media/project-1.jpg);
}
.cards .card.four {
  background-image: url(../media/project-4.jpg);
}
.cards .card.five {
  background-image: url(../media/project-5.jpg);
}
.cards .card.six {
  background-image: url(../media/project-6.jpg);
}
.cards .card.seven {
  background-image: url(../media/project-7.jpg);
}
.cards .card.eight {
  background-image: url(../media/project-8.jpg);
}
.cards .card.nine {
  background-image: url(../media/project-9.jpg);
}
.cards .card.ten {
  background-image: url(../media/project-10.jpg);
}
main {
  position: relative;
}
main .forInfo {
  color: var(--super-light);
  font-weight: 200;
  font-size: 0.9rem;
  text-align: center;
  display: none;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  top: 120px;
  width: max-content;
}
@media (max-width: 767px) {
  main .forInfo {
    display: block;
  }
  .cards {
    padding-top: 150px;
  }
}
.cards .card .card-content {
  position: absolute;
  background-color: rgba(21, 16, 25, 1);
  overflow: hidden;
  padding: 20px 70px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  top: 100%;
  transition: 400ms;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: var(--super-light);
}
.cards .card:hover .card-content {
  top: calc(100% - 55px);
}
.cards .card h3 {
  font-weight: 200;
  width: max-content;
}
.discoverCont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 100px;
}
.discoverCont a {
  background-color: var(--color-sub);
  padding: 15px 30px;
  color: var(--color-main-dark) !important;
  font-weight: 300;
  font-size: 1.2rem !important;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.discoverCont a:hover {
  background-color: #badee8;
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 750px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .cards .card h3 {
    font-size: 0.9rem;
  }
  .cards .card .linksHolder a {
    padding: 15px;
  }
  .cards .card .linksHolder a:hover {
    padding: 15px;
  }
  .cards .card .linksHolder a::after {
    font-size: 10px;
  }
  .cards .card .card-content {
    padding: 15px 50px;
  }
  .cards .card:hover .card-content {
    top: calc(100% - 45px);
  }
}
@media (max-width: 430px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
#loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-dark);
  z-index: 99999;
  color: white;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  user-select: none;
}
.lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
}
.lds-ellipsis > div {
  width: 3.9rem;
  height: 100%;
  /* background-color: red; */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.lds-ellipsis div div {
  position: absolute;
  top: 50% !important;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.lds-ellipsis div div:nth-child(1) {
  top: 50%;
  left: 0px;
  animation: lds-ellipsis1 0.6s infinite;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div div:nth-child(2) {
  left: 0px;
  animation: lds-ellipsis2 0.6s infinite;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div div:nth-child(3) {
  left: 25px;
  animation: lds-ellipsis2 0.6s infinite;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div div:nth-child(4) {
  left: 48px;
  animation: lds-ellipsis3 0.6s infinite;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
